@import "../../global.scss";
.projectCard {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  .projectCardContainer {
    padding: 20px 10px;
    background-color: #151030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-radius: 10px;

    @include mobile {
      height: 100%;
      width: 350px;
      padding: 10px;
    }
    @include tablet {
      height: 100%;
      width: 80%;
      flex-direction: column;
      padding: 10px;
    }
    @include laptop {
      height: 100%;
      width: 75%;
      padding: 10px;
    }
    @include desktop {
      height: 100%;
      width: 75%;
      padding: 10px;
    }
    @include bigDesktop {
      padding: 20px;
    }
    .cardContainer {
      height: 100%;
      width: 100%;
      .imgContainer {
        margin: auto;
        width: 625px;
        height: 350px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        background-color: white;
        @include mobile {
          width: 300px;
          height: 75px;
        }
        @include tablet {
          width: 450px;
          height: 300px;
        }
        @include laptop {
          width: 550px;
          height: 400px;
        }
        @include desktop {
          width: 600px;
          height: 400px;
        }
        @include bigDesktop {
          width: 600px;
          height: 400px;
        }
        .image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          z-index: 1;
        }
        .githubImg {
          background-color: #202020;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          position: absolute;
          z-index: 2;
          right: 5px;
          top: 5px;
          @include mobile {
            width: 35px;
            height: 35px;
          }

          .github {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 4px;
          }
        }
      }
      .titleContainer {
        height: 45%;
        padding: 12px 23px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
          display: none;
        }

        .titleDescription {
          flex: 15;
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 5px;
          h3 {
            padding: 5px 0px;
            color: white;
          }
          p {
            color: white;
            font-size: 14px;
            text-align: justify;
          }
        }

        .tag {
          flex: 1;
          display: flex;
          margin-top: 15px;
          gap: 10px;
        }
      }
    }
  }
}
