@import "../../global.scss";

.skillList {
  font-size: 20px;
  margin: 0px 30px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
    
  }
}